:root {
  color-scheme: light;
  background: #acb0ae;
  color: #9a590a;
}

body {
  font-family: 'Times New Roman', serif;
    margin: 0;
    color : #9a590a;
}

/* Flexbox Header */
header {
    background: var(--primary-color);
    color: rgb(231, 72, 72);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: rgb(223, 20, 20);
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

nav a:hover {
  background-color: azure;
}

.service h4:hover {
    background-color: azure;
}
<style>
* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
</style>